@import '../../styles.scss';

.content {
    height: 100%;
    width: 100%;

    background-color: inherit;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .title {
        margin-left: 5%;
        width: 90%;
        font-size: 2.3em;
        text-align: center;
        color: white;
        font-family: Roboto, monaco, monospace;

        border-bottom: 2px solid white;
    }

    .winner-row {
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;

        align-items: center;
        text-align: center;

        height: 10%;        

        .value {
            width: 100%;
            height: 100%;
            
            // background-color: $accent;
            
            // border-radius: 5px;
            // border-top: 3px solid darkgray;
            // border-bottom: 3px solid darkgray;
            // border-left: 15px solid darkgray;
            // border-right: 15px solid darkgray;

            border-bottom: 3px solid #444444;
            
            .name {
                transform: translateY(50%);
                font-size: 2em;
                color: #e9e9e9;
            }
        }
    }
}