<div class="bla" [style.transform]="'rotate3d(1, 0, 0, '+getRotation()+'deg)'" >
    <div class="content" >
    
            <!-- [ngStyle]="{'transform': `rotateX(${getRotation()}deg)`}" -->
        <div [ngStyle]="{'width.%':getWidth()}" class="color" [ngClass]="{
            'no-margin': isMiddleRow()
        }">
            <div class="value no-selectable" 
                [style.font-size.em]="getFontSize()" 
                [ngStyle]="{'background-color': getBackground()}"
                [ngClass]="{
                    'middle-row': isMiddleRow(),
                    'align-bottom': isFirst()
                }">
                {{data.member.Nombre}} {{data.member.Apellido}}
            </div>
        </div>
    </div>
    
</div>