<div class="content">
  <div class="start-clear">
    <button mat-raised-button color="accent" class="start-button button" (click)="startEvent()">Begin</button>
    <button mat-raised-button color="accent" class="clear-button button" (click)="clearEvent()">Duidelijk</button>
  </div>
  <div class="fetching">
    <button mat-raised-button color="accent" class="fetch-button button" (click)="fetchEvent1()">Halen Lijst Een</button>
    <button mat-raised-button color="accent" class="fetch-button button" (click)="fetchEvent2()">Halen Lijst Twee</button>
  </div>
</div>