

.content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    .list-label {
        position: absolute;
        top: 10px;
        left: 20px;

        color: white;
        font-size: 1.5em;

        border-bottom: 1px solid white;

        width: 250px;
    }
}

.scrollbar {
    height: 100%;
    width: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: flex-start;
}

.row:first-child {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;;
}

.row:last-child {
    height: 50px;
}

.row {
    height: fit-content;
}

.start button:hover {
    animation: zoom-in 1s;
}

@keyframes zoom-in {
    0% {
        zoom: 1;
    }
    100% {
        zoom: 2;
        height: 100px;
        width: 40px;
    }
}

.slider {
    position: absolute;
    width: 250px;
    bottom: 20px;
    left: 20px;
    & > * {
        width: inherit;
    }
}
